/* Styled by: Srilakshmi Nallamothu*/
.navbar {
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: rgb(222, 22, 22);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #fd6565;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
